
.fs-5 {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0; /* Initially hide the .fs-4 element */
  transform:translate(-50%,-50%);
  user-select:none;
}
.fs-5:hover{
  cursor:pointer;
}

.avatarImage:hover + .fs-5,
.position-relative:hover .fs-5 {
  /* CSS rules for the .fs-4 element when hovering over the .avatarImage or .position-relative element */
  opacity: 1; /* Show the .fs-4 element on hover */
}

.avatarImage:hover {
  transition: .5s ease;
  opacity:.3;
  cursor:pointer;
}
.errorTxt, .submitButton {
  display:none;
}
